@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('machineStatusChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: @Html.Raw(Json.Encode(ViewBag.Labels)),
                    datasets: [{
                        label: 'Reddit Health Status',
                        data: @Html.Raw(Json.Encode(ViewBag.Dataset)),
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
}

<canvas id="machineStatusChart"></canvas>
<p>Percent uptime for the last 24 hours: @ViewBag.Percent %</p>
